* {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

body {
    font-family: 'Slabo 27px', serif;
}

header {
    height: 50px;
    width: 100%;
    position: fixed;
    background: linear-gradient(to left, #1e5799, #7db9e8);
    top: 0;
}

#content_title{
    position: absolute;
    left: 40px;
}

.title{
    height: 30px;
    background-color: dimgrey;
    color: white;
    padding-left: 10px;
    line-height: 30px;
}
.content {
    color: #303030;
    margin-top: 50px;
    color: black;
}

header ul {
    position: absolute;
    right: 0;
}

header li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    line-height: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    position: absolute;
    line-height: 50px;
    left: 10px;
}
.logo h2 {
    margin-bottom: 0;
}
input .login{
    background-color: aquamarine;
}
input{
    border: 1px solid black;
}
/*.back{

}*/
.back img{
    margin-top: 5px;
    height: 20px;
}
/* FOLDERS */
.folder {
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin: 10px;
    padding: 10px;
}
.folderUrl{
    color: black;
}

.add {
    text-align: center;
    background-color: #3c3c3c;
    color: white;
}

input, textarea {
    border: 1px solid black;
}