* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    height: 50px;
    width: 100%;
    position: fixed;
    background: linear-gradient(to left, #1e5799, #7db9e8);
    top: 0;
}

.content {
    color: #303030;
    margin-top: 50px;
    color: black;
}

header ul {
    position: absolute;
    right: 0;
}

header li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    line-height: 30px;
}

a {
    color: white;
    text-decoration: none;
}

.logo{
    position: absolute;
    line-height: 10px;
    left: 0;
}
input .login{
    background-color: aquamarine;
}


/* FOLDERS */
.folder{
    width: 100px;
    height: 100px;
    border: black solid 1px;
    display: inline-block;
    vertical-align: top;
    

}
.folderUrl{
    color: black;
}